<div class="main-container flex-col center top">
  <div class="main-message flex-row left top">
    <img src="assets/icons/avatar.svg" alt="avatar" />
    <div class="flex-col left top">
      <h2>{{ topic.title }}</h2>
      <p>{{ topic.content }}</p>
    </div>
  </div>
  <div class="comments flex-col center top w-100">
    <div class="wrapper flex-col left top">
      <div *ngFor="let reply of topic.replies" class="reply flex-row left top">
        <img src="assets/icons/avatar.svg" alt="avatar" />
        <p>
          {{ reply.content }}
        </p>
      </div>
    </div>
    <app-svg-forest></app-svg-forest>
  </div>
</div>
