@import "src/app/styles/variables.scss";
.main-container {
    position: relative;
}

.hero-container{
    position: relative;
    a {
        position: absolute;
        text-decoration: none;
        left: 50%;
        top: 50%;
        transform: scale(2) translate( -25%, -25%);
        box-shadow: $shadow-strong;
    }
}

.flex-col{
    overflow: hidden;
}

.easter-egg-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}