<div class="main-container flex-row middle center">
  <form [formGroup]="signupForm" class="flex-col center middle">
    <h1>Sign-up</h1>
    <input
      type="text"
      formControlName="login"
      class="basic"
      id="login"
      [placeholder]="'core.enter-username' | transloco" />
    <input
      type="password"
      formControlName="password"
      class="basic"
      id="password"
      [placeholder]="'core.password' | transloco" />
    <input
      type="password"
      formControlName="passwordVerification"
      class="basic"
      id="password"
      [placeholder]="'core.confirm-password' | transloco" />
    <p *ngIf="errorInForm" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="!errorInForm" class="pwd-info">
      {{'core.password-min-char' | transloco}}
    </p>
    <button
      type="submit"
      (click)="onSubmitForm()"
      class="primary"
      [disabled]="signupForm.invalid">
      {{ 'core.submit' | transloco }}
    </button>
  </form>
  <img
    class="illustration"
    src="assets/illustrations/auth.svg"
    alt="register illustration" />
</div>
