<nav class="flex-row btw middle">
  <!-- Logo -->
  <div>
    <a
      routerLink="/home"
      class="logo flex-row middle center"
      (click)="phoneMenuOpen = false">
      <img src="assets/icons/logo.svg" alt="logo" />
      <p>Bonne question</p>
    </a>
  </div>

  <!-- nav items -->
  <div
    class="flex-row menu middle content"
    [ngClass]="{ active: phoneMenuOpen }">
    <button class="flag-icon flex center" (click)="switchLanguage()">
      <img class="flag-icon" [src]="currentFlagIcon" />
    </button>

    <a
      (click)="phoneMenuOpen = false"
      routerLink="/feed"
      routerLinkActive="active"
      >Feed</a
    >
    <a
      *ngIf="!authService.connected"
      (click)="phoneMenuOpen = false"
      routerLink="auth/login"
      routerLinkActive="active"
      >{{ 'core.login' | transloco }}</a
    >
    <a
      *ngIf="!authService.connected"
      (click)="phoneMenuOpen = false"
      routerLink="auth/register"
      routerLinkActive="active"
      class="btn primary"
      >{{ 'core.signup' | transloco }}</a
    >
    <a
      *ngIf="authService.connected"
      (click)="phoneMenuOpen = false"
      routerLink="user/profile"
      routerLinkActive="active"
      >{{ 'core.profile' | transloco }}</a
    >
  </div>
  <div class="menu nav-icon">
    <img
      *ngIf="!phoneMenuOpen"
      (click)="phoneMenuOpen = true"
      src="assets/icons/navbar.svg"
      alt="open menu" />
    <img
      *ngIf="phoneMenuOpen"
      (click)="phoneMenuOpen = false"
      src="assets/icons/close.svg"
      alt="close menu" />
  </div>
</nav>
